<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}  <!-- render a partial, no ext -->
            <p>Static text from Help.hbs </p>
            <p>Sometext from app.js help route: {{sometext}}</p>   
        </div> 
        {{>footer}}
    </body>
</html>