<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/app.js"></script>
    </head>
    <body>
        <!-- <h1>== Default Statis Weather text from Index.hbs  ==</h1> -->
        <h1>{{title}}</h1>        /// make dynamic webpage
    </body>
</html>
